*{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}

 nav span{
    color: purple;
    text-decoration: underline;
    cursor: pointer;
}

nav span:hover{
    color: yellow;
    text-decoration: underline;
    background-color: red;
    transition: 300ms;
}

#primeiro, .segundo{
    border: 3px solid brown;
    padding: 15px;
    margin: 5px;
}

.segundo > p{
    color: blue;
    
}

.segundo > div{
    display: block !important;
}